:root {
    --title-font-family: 'Playfair Display', serif;
    --primary-font-family: 'Raleway', sans-serif;

    --text-primary-color: #FFFFFF;
    --text-accent-color: #D4C17F;
    
    --background-color: #242B33;
}