.feature-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -2rem;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.feature-img {
    width: 5rem;
    height: 5rem;
    margin-bottom: 3rem;
}

.feature-caption {
    text-align: center;
}